@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Prompt&display=swap");

/*=== BASIC STYLES ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #1a1930;
  --color-secondary: #2d2b5c;
  --color-purple: #6259ea;
  --color-red: #ea5959;
  --color-white: #ffffff;
  --color-white-40: #ffffff66;
  --color-white-60: #ffffff99;
  --color-grey: #abaabb;
  --color-grey-30: #c1c1c14d;
  --color-black-90: #000000e6;
  --color-border: #f7f7f7;
  --color-sky: #e7e5ff;

  --box-shadow: 0px 0.4rem 2rem var(--color-grey-30);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Prompt", sans-serif;
  font-size: clamp(1.4rem, 1.25vw, 2.4rem);
  line-height: 1.4;
  color: var(--color-primary);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: var(--color-primary);
}

.logo>img {
  object-position: 0 0.5rem;
}

.container {
  max-width: 130rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/*=== SECTION ===*/

.section {
  padding: clamp(3rem, 4.9vw, 12rem) 0;
}

.section__header {
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  align-items: center;
  margin-bottom: clamp(4rem, 6.25vw, 12rem);
}

/* .section__title {
  
} */

.section__btn {
  justify-self: end;
}

@media screen and (max-width: 576px) {
  .section__header {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 1rem;
  }

  .section__btn {
    justify-self: center;
  }
}

/*=== TITLES ===*/

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

.title--primary {
  color: var(--color-primary);
}

.title--secondary {
  color: var(--color-secondary);
}

h1 {
  font-size: clamp(4rem, 5.5vw, 9.2rem);
}

h2 {
  font-size: clamp(3.6rem, 4.9vw, 8.4rem);
}

h3 {
  font-size: clamp(3rem, 3vw, 5.6vw);
}

h4 {
  font-size: clamp(2.4rem, 2.5vw, 4.6vw);
}

h5 {
  font-size: clamp(1.8rem, 2vw, 4rem);
}

/*=== LINKS ===*/

.link {
  font-size: clamp(1.2rem, 1.25vw, 2.4rem);
}

.link--primary {
  color: var(--color-primary);
}

.link--white {
  color: var(--color-white);
}

.link--mark {
  text-transform: uppercase;
}

.link--mark::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  margin-right: 1rem;
  background: var(--color-red);
}

/*=== BUTTONS ===*/

.btn {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.1vw, 2rem);
  border-radius: 0.5rem;
  padding: 1.8rem 3.6rem;
  display: block;
  color: inherit;
}

.btn--white {
  background: var(--color-white-40);
  border: 0.2rem solid var(--color-white-40);
}

.btn--purple {
  background: var(--color-purple);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.btn--grey {
  background: var(--color-white-40);
  box-shadow: var(--box-shadow);
}

.btn--blue {
  padding: 0.5rem 2.5rem;
  background: var(--color-sky);
  color: var(--color-secondary);
}

/*=== BURGER ===*/

.burger {
  width: 3rem;
  height: 2.4rem;
  position: relative;
  display: none;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: var(--color-black-90);
}

.burger span:first-child {
  top: 0;
}

.burger span:nth-child(2) {
  top: 1.1rem;
}

.burger span:last-child {
  bottom: 0;
}

/*=== SLIDER ===*/

.slider {
  cursor: grab;
}

.slider__btn {
  align-items: center;
  background: none;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color-white-40);
  box-shadow: var(--box-shadow);
  display: flex;
  height: clamp(2rem, 3.125vw, 6rem);
  justify-content: center;
  opacity: 0.7;
  transition: 0.3s;
  width: clamp(2rem, 3.125vw, 6rem);
}

.slider__btn:hover {
  opacity: 1;
}

.slider__btn--prev {
  margin-left: -5rem;
}

.slider__btn--next {
  margin-right: -5rem;
}

@media screen and (max-width: 1300px) {
  .slider__btn--prev {
    margin-left: 0;
  }

  .slider__btn--next {
    margin-right: 0;
  }
}

/*=== NAVBAR ===*/

.nav {
  padding: clamp(0.5rem, 1.4vw, 3rem) 0 0 0;
  z-index: 3;
}

.nav__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 2.5rem;
}

.nav__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 12%;
  z-index: 2;
}

.nav__body.open .burger span {
  background: var(--color-white);
}

.nav__body.open .nav__content {
  top: 0;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .burger {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  .nav__content {
    background: var(--color-black-90);
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding-left: 0;
    position: fixed;
    top: -100%;
    transition: opacity 0.4s, top 0.3s;
    width: 100%;
    z-index: 1;
  }

  .nav__list {
    color: var(--color-white);
    flex-direction: column;
    text-align: center;
  }

  .nav__list a {
    color: inherit;
  }
}

/*=== HEADER ===*/

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.header__media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 576px) {
  .header__bg {
    opacity: 0.7;
  }
}

/*=== HEADER CONTENT ===*/

.header__content-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
}

.header__subtitle {
  margin: clamp(2rem, 2.8rem, 6rem) 0 clamp(1rem, 3.5vw, 7rem) 0;
}

@media screen and (max-width: 576px) {
  .header__content-footer {
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    position: absolute;
    width: 100%;
  }
}

/*=== SPONSORS ===*/

.sponsors {
  background: var(--color-sky);
}

.sponsors__body {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

/*=== NUMBERS  ===*/

.numbers {
  position: relative;
}

.numbers__uptitle {
  text-transform: uppercase;
  color: var(--color-secondary);
}

.numbers__body {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  column-gap: 10rem;
  position: relative;
}

.numbers__cart {
  border-top: 0.2rem solid var(--color-blue-white);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2.5rem 0;
}

.numbers__cart>div {
  padding-right: 10%;
}

.numbers__content {
  margin-top: clamp(0.5rem, 7vw, 14rem);
}

.numbers__content .numbers__cart:not(:last-child) {
  border-bottom: 0.2rem solid var(--color-sky);
}

.numbers__cart-title {
  margin-bottom: 2rem;
}

.numbers__cart-num {
  align-self: center;
  font-size: clamp(4rem, 5.5vw, 9.2rem);
  justify-self: end;
}

.numbers__bg {
  left: 0;
  object-fit: contain;
  position: absolute;
  top: -15%;
  z-index: 0;
}

@media screen and (max-width: 998px) {
  .numbers__body {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .numbers__body {
    text-align: center;
  }

  .numbers__cart {
    display: flex;
    flex-direction: column;
  }

  .numbers__bg {
    top: 0;
    opacity: 0.5;
  }

  .numbers__cart-title {
    margin-bottom: 0.5rem;
  }
}

/*=== FEATURES ===*/

.features__carts {
  background: var(--color-white-60);
  box-shadow: var(--box-shadow);
  color: var(--color-secondary);
  display: flex;
  padding: 4rem 0;
  position: relative;
}

.features__cart {
  flex: 0 1 calc(100% / 3);
  padding: 0 3rem;
}

.features__carts .features__cart:not(:last-child) {
  border-right: 0.2rem solid var(--color-border);
}

.features__cart-title,
.features__cart-text {
  margin-bottom: 2rem;
}

.features__cart-item {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 2rem;
}

.features__cart-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.features__cart-icon {
  margin-top: 0.3rem;
  fill: var(--color-secondary);
}

.features__img {
  position: absolute;
  z-index: -1;
}

.features__img--first {
  top: 0;
  left: -5%;
}

.features__img--second {
  left: 50%;
  transform: translateX(-55%);
  bottom: -15%;
}

.features__img--third {
  top: -15%;
  right: 0;
}

@media screen and (max-width: 768px) {
  .features__carts {
    column-gap: 2rem;
    flex-wrap: wrap;
    padding: 0;
  }

  .features__cart {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-right: 0;
    flex: 1 0 100%;
  }

  .features__carts .features__cart:not(:last-child) {
    border-bottom: 0.2rem solid var(--color-border);
  }

  .features__img {
    right: 0;
    width: 40%;
  }

  .features__img--second {
    bottom: 0;
  }

  .features__img--third {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 576px) {
  .features__img {
    width: 70%;
  }
}

/*=== Advantages ===*/

.advantages__img {
  width: 100%;
}

/*== TECHS ===*/

.techs__item {
  display: grid;
  align-items: center;
  column-gap: clamp(4rem, 6.25vw, 12rem);
  /* padding: clamp(1rem,3.5vw,7rem) 0; */
}

.techs__item:first-of-type {
  grid-template-columns: clamp(20rem, 35vw, 60rem) 1fr;
  border-bottom: 0.2rem solid var(--color-border);
  padding-bottom: clamp(2rem, 3.5vw, 7rem);
}

.techs__item:last-of-type {
  grid-template-columns: 1fr clamp(20rem, 35vw, 60rem);
  padding-top: clamp(2rem, 3.5vw, 7rem);
}

.techs__item-img {
  width: 100%;
}

.techs__item-title {
  margin-bottom: clamp(2rem, 4vw, 7rem);
}

.techs__item-text {
  margin-bottom: 2rem;
}

.techs__item-link {
  display: inline-block;
  margin-top: clamp(1rem, 2vw, 5rem);
}

@media screen and (max-width: 576px) {
  .techs__body .techs__item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .techs__item-img {
    display: none;
  }
}

/*=== PLANS ===*/

.plans__carts {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
  position: relative;
  justify-content: space-between;
}

.plans__cart {
  padding: 4.5rem 5rem;
  flex: 0 1 calc(100% / 2 - var(--gap));
  background: var(--color-grey-30);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.plans__cart-title {
  margin-bottom: 4.5rem;
}

.plans__carts .plans__cart-item:not(:last-child) {
  margin-bottom: 2rem;
}

.plans__cart-item.unavailable span {
  opacity: 0.4;
}

.plans__cart-desc {
  margin-left: 2rem;
}

.plans__cart-additional {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plans__cart-additional span {
  font-size: initial;
  line-height: initial;
  color: var(--color-grey);
}

.plans__img {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

.plans__img--first {
  top: -25%;
  left: -5%;
}

.plans__img--second {
  right: 0;
  bottom: 10%;
}

@media screen and (max-width: 768px) {
  .plans__carts {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .plans__cart {
    flex: 1 0 100%;
    padding: 3rem;
  }

  .plans__img--first {
    top: 0;
    left: 0;
  }

  .plans__img--second {
    right: 0;
    bottom: 5%;
  }

  .plans__img {
    width: 40%;
  }
}

/*=== TEAM ===*/

.team__slider {
  position: relative;
}

.team__slider .splide__slide__row {
  height: auto !important;
}

.team__header-buttons {
  display: flex;
  gap: 3rem;
}

.team__item {
  text-align: center;
  height: auto;
  margin-bottom: 2rem;
}

.team__item-name {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.team__item-job {
  color: var(--color-secondary);
}

@media screen and (max-width: 576px) {
  .team__header-buttons {
    gap: 1rem;
  }
}

/*=== QUESTIONS ===*/

.questions {
  position: relative;
}

.questions__img {
  position: absolute;
  top: 20%;
  right: 0;
  width: 30vw;
  z-index: -1;
}

.questions__list {
  margin-top: clamp(3rem, 10vw, 20rem);
}

.questions__item {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 3.5rem;
  padding: 3rem 0;
}

.questions__item-icon>svg {
  width: clamp(3rem, 4.2vw, 8rem);
  height: clamp(3rem, 4.2vw, 8rem);
}

.questions__item-text {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 2.8vw, 6rem);
  padding-right: 30%;
}

.questions__list .questions__item:not(:last-child) {
  border-bottom: 0.2rem solid var(--color-sky);
}

@media screen and (max-width: 767px) {
  .questions__list {
    width: 100%;
  }

  .questions__item-text {
    padding-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .questions__img {
    display: none;
  }
}

/*=== ABOUT ===*/

.about__slider {
  background: var(--color-grey-30);
  border-radius: 1rem;
  border: 0.1rem solid var(--color-white-40);
  box-shadow: var(--box-shadow);
  padding: 5rem 7rem 5rem 10rem;
}

.about__slide {
  display: grid;
  grid-template-columns: max-content auto;
}

.about__slide-profile {
  text-align: center;
}

.about__slide-media {
  margin-top: 2rem;
}

.about__slide-media .about__slide-icon:not(:last-child) {
  display: inline-block;
  margin-right: 1.5rem;
}

.about__slide-content {
  padding: 7rem 0 7rem 5rem;
}

.about__slide-content-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
}

.about__slide-subtitle {
  opacity: 0.4;
}

.about__slide-text {
  color: var(--color-secondary);
  margin-top: 6rem;
  font-size: clamp(1.8rem, 2vw, 4rem);
}

.about__slide-stars {
  color: var(--color-red);
  font-size: clamp(1.8rem, 2vw, 4rem);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: end;
}

.about__arrows {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

@media screen and (max-width: 992px) {
  .about__slider {
    padding: 3rem 2rem;
  }

  .about__slide-text {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 676px) {
  .about__slide {
    display: flex;
    flex-direction: column;
  }

  .about__slide-content {
    padding: 2rem 0;
  }

  .about__arrows {
    justify-content: center;
  }
}

/*=== PRESS ===*/

.press {
  overflow: hidden;
}

.press__slider .press__slide:last-child {
  border-right: none;
}

.press__slide {
  overflow: hidden;
  border-right: 0.2rem solid var(--color-sky);
  padding: 2rem 5rem;
}

.press__slide-img {
  width: 100%;
  height: 32rem;
  object-fit: cover;
  border-radius: 1rem;
}

.press__slide-btn {
  margin: 3rem 0 2rem 0;
}

.press__slide-title {
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .press__slide {
    padding: 2rem 3rem;
  }

  .press__slide-img {
    width: 100%;
    height: 20rem;
  }
}

/*=== CONTACT ===*/

.contact {
  position: relative;
}

.contact__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.contact__form {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.contact__form-label {
  color: var(--color-secondary);
  margin: 1.5rem 0;
}

.contact__form-input {
  background: var(--color-white-40);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--color-white-40);
  box-shadow: var(--box-shadow);
  padding: 1.5rem 3rem;
}

.contact__form-btn {
  margin-top: 5rem;
  text-transform: uppercase;
}

.contact__additional {
  align-self: end;
}

.contact__additional-text {
  margin-bottom: 2rem;
  color: var(--color-secondary);
  display: flex;
  gap: 0.5rem;
}

.contact__additional-text::before {
  content: "*";
  display: inline-block;
}

.contact__additional-subtext {
  opacity: 0.4;
}

.contact__img {
  position: absolute;
  z-index: -1;
}

.contact__img--first {
  top: 0;
  left: 0;
}

.contact__img--second {
  right: 0;
  top: 40%;
}

@media screen and (max-width: 678px) {
  .contact__img {
    width: 30vw;
    opacity: 0.7;
  }

  .contact__img--first {
    top: 10%;
  }

  .contact__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact__form-label {
    margin-top: 4rem;
  }

  .contact__content {
    gap: 4rem;
  }

  .contact__form-btn {
    margin-top: 3rem;
  }
}

/*=== MEDIA ===*/

.media__slide-img {
  width: 100%;
}

.media__slider {
  padding: 0 8rem;
}

@media screen and (max-width: 768px) {
  .media__slider {
    padding: 0 5rem;
  }
}